<div class="container col-6 " style="margin-top:20px">

<%= link_to "Back", assignments_path  %>

<h3>Create a Assignemt</h3>
  <%= form_for @assignment do |form| %>


  

  <div class="mb-3">
  <%= form.text_field :name, placeholder: "Assignment Name", class: "form-control" %> 
  </div>
  <div class="mb-3">
  <%= form.text_field :url, placeholder: "Assignment URL" , class: "form-control" %> 
    </div>

  <%= form.submit 'Create', class:'btn btn-primary'    %>
<% end %>  

</div>
 

 
  
  